body {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 143, 180);    
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat:repeat-x;
    background-position-x: center;
}

br {
  display: block;
  margin: 2px 0;
}

h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
  }

h1 {
  font-size: 6em;
  font-family: 'Pacifico', cursive;
}

h2 {
  font-size: 1.5em;
}

ul {
  list-style:none;
  display:inline;
  margin: 0;
  padding: 0;
  text-align: center;
  }

  p {
    text-align: center;
  }

  /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

a {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

div {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

background {

}